body {
	width:100%;
	background-color: rgb(255,256,255);
	font-size:1rem;
	min-height: 2700px;
	font-family:"Montserrat", sans-serif;
	font-weight:400;
	text-align:center;
	color:black;
}

/*INTRO - title and description of the project. Where the user enters*/
#intro {
	font-size:2.2em;
	font-weight:400;
	padding:20px 100px;
}

/*INTRO - title*/
#intro h1 {
	font-size:2.3em;
}

/*INTRO - text*/
#intro p {
	font-size:1.2rem;
}

/*SCROLLUP text*/
#scrollup {
	margin-top:200px;
	margin-bottom:30px;
}
/*SCROLLDOWN text*/
#scrolldown {
	margin-top:30px;
	margin-bottom:100px;
}

/*DIV with the good words*/
#goodquality {
	padding-top:400px;
}

/*DIV with the bad words*/
#badquality {
	margin-bottom: 400px;
}

/*BLUE OVERLAY that shows up when user clicks on a word*/
#overlay {
  background-color:#080C26;
  opacity:0.9;
  width:100%;
  height:3000px;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
  padding-top: 400px;
}

#overlay p {
	color:white;
	font-size:1em;
	margin: 0 auto;
	line-height:1.5;
	padding:0 30%;
}

/*FOOTER with our names and credits*/
footer {
	text-align:center;
	color:white;
	width:50%;
	margin:0 auto;
	font-weight:400;
}
/*LINK styling*/
a {
	text-decoration:none;
	color:black;
}

/*LINK styling - when user hovers over the link*/
a:hover {
	text-decoration:none;
	color:#080C26;
}



.quality {

	display: block;
	padding-left: 30px;
	padding-right: 30px; 
}

.goodword {
	padding-left: 65px;
	padding-right: 65px;
	padding-bottom: 20px;

	display: inline-block;
}

.badword {
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 22px;

	display: inline-block;
}

.bar {

	width: 35%;
	display: inline-block;
}

.arrow_down {
	padding-top: 20px;

}


/*.stroke_down{
	position: absolute;
	margin-left: -37px;
	margin-top: -285px;
}

#badquality{
	margin-top: 500px;

}*/

.line {
	border-right: solid 1px white;
	height: 79px;
	display: block;
	width: 50%;
	margin-top: 3px;

}

.line_down {
	border-right: solid 11px white;
	height: 1px;
	display: block;
	width: 50%;
	margin-top: -10px;
	margin-bottom: -4px;
	margin-left: -5px;
}

.line_up {
	border-right: solid 11px white;
	height: 1px;
	display: block;
	width: 50%;
	margin-bottom: -10px;
	margin-left: -5px;
	
}


.line_long {
 	border-right: solid 1px white;
	height: 250px;
	display: block;
	width: 50%;
	margin-bottom: 3px;
	margin-top: -16px;
	

}

/*Code down here: Not used right now


.hideme
{
	width:100%;
	height:70px;
	background-color:black;
	margin:0 auto;
	font-size:20;
	color:black;
	display:block;
	padding: 5px 5px 5px 5px;
	margin: 100px auto 100px auto;
    opacity:0;
}





.plus {
	width:30px;
	height:30px;
}


.bar_explain {
	width:400px;
	height:50px;
}
*/





/*Not using this. For overlay that fits right on top of image/bar

.quality {
	position:relative;
	width:100%;
}

.quality img .bar  {
	width:50%;
	display:inline-block;
}

.overlay {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
  	height: 100%;
  	background-color: black;
  	opacity:0;
}
.showExplanation {
	opacity:0.7;
}

