@media screen and (max-width: 635px) {
	.bar {
		display:none;
	}
	#intro h1 {
	font-size:1.5em;
	text-align:center;
	}

}


@media screen and (max-width: 1030px) {
	.bar {

		width: 30%;
		height:49px;
		margin-left:3%;
		margin-right:3%;
		font-weight:lighter;
		font-family: "Open Sans", sans-serif;
		letter-spacing: 3px;
	}

